#FiveAppsFeedback * {
	border: 0px;
	padding: 0px;
	margin: 0px;
	font: normal normal 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
	text-transform: none;
	text-align: left;
	white-space: normal;
	background-color: none;
}
#FiveAppsFeedbackBadge {
	cursor: pointer;
	border: 1px solid #c0c0c0;
	display: inline-block;
	width: 100px;
	padding: 10px;
	position: absolute;
	text-align: center;
	font: normal normal 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	-moz-box-shadow: 0 -1px 25px #d0d0d0;
	-webkit-box-shadow: 0 -1px 25px #d0d0d0;
	box-shadow: 0 -1px 25px #d0d0d0;
	opacity: 1;
}
#FiveAppsFeedbackBadge.top {
	border-top-style: none;
	margin-left: -50px;
	top: 0px;
	left: 50%;
}
#FiveAppsFeedbackBadge.right {
	border-bottom-style: none;
	right: -42px;
	top: 50%;
	margin-top: -50px;
	-webkit-transform: rotate(-90deg);
}
#FiveAppsFeedbackBadge.left {
	border-bottom-style: none;
	left: -42px;
	top: 50%;
	margin-top: -50px;
	-webkit-transform: rotate(90deg);
}
#FiveAppsFeedbackBadge.bottom {
	border-bottom-style: none;
	margin-left: -50px;
	bottom: 0px;
	left: 50%;
}
#FiveAppsFeedback {
	opacity: 0.8;
	margin: 27px auto;
	border: 1px solid #b5b5b5;
	max-width: 200px;
	padding: 20px;
	-moz-box-shadow: 0 3px 20px #bdbdbd;
	-webkit-box-shadow: 0 3px 20px #bdbdbd;
	box-shadow: 0 3px 20px #bdbdbd;
	color: #595959;
}
#FiveAppsFeedback h1 {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 18px;
	font-style: normal;
	color: #3e3e3e;
}
#FiveAppsFeedback .FAF_stars {
	margin-top: 18px;
	height: 46px;
}
#FiveAppsFeedback .FAF_stars span {
	cursor: pointer;
	margin-right: 7px;
	height: 40px;
	width:  40px;
	display: inline-block;
	background: url(../svg/star.svg) no-repeat -1px;
	background-size: 40px;
}
#FiveAppsFeedback .FAF_stars span.active {
	background: url(../svg/star_active.svg) no-repeat -1px;
}
#FiveAppsFeedback textarea {
	border: 1px solid #b5b5b5;
	padding: 9px;
	color: #7e7e7e;
	display: block;
	margin-bottom: 18px;
	margin-top: 18px;
	width: 100%;
	font-size: 12px;
	line-height: 18px;
	min-height: 70px;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-shadow: inset 0 -4px 20px #f3f3f3;
	-webkit-box-shadow: inset 0 -4px 20px #f3f3f3;
	box-shadow: inset 0 -4px 20px #f3f3f3;
}
#FiveAppsFeedback .FAF_button {
	cursor: pointer;
	margin-bottom: 0px;
	display: inline-block;
	padding: 9px;
	border: 1px solid #b5b5b5;
	width: 39%;
	text-align: center;
	-moz-box-shadow: 0 2px 5px #cecece;
	-webkit-box-shadow: 0 2px 5px #cecece;
	box-shadow: 0 2px 5px #cecece;
	opacity: 1;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.046, rgb(229, 229, 229)), color-stop(0.615, white), to(#fefefe));
	background-image: -moz-linear-gradient(90deg, rgb(229, 229, 229) 4.6%, white 61.5%, #fefefe 100%);
	overflow: hidden;           /* required for text-overflow */
	text-overflow: ellipsis;    /* for IE and WebKit (Safari, Chrome) */
	-o-text-overflow: ellipsis;
}
#FiveAppsFeedback .FAF_button.FAF_cancel {
	float: right;
}